
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html{
    font-size: 25px;
}
body{
    background-color: #333;
    color: rgb(224, 224, 224);
}

.banner{
    width: 100%;
    height: 100vh;
   
    background-color: rgb(44, 44, 44);

    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.navbar ul li a::after{
    text-decoration: none;
    color: rgb(48, 39, 39);
}

.navbar ul li::after{
    content: '';
    height: 0px;
    width: 100%;
    background: rgb(48, 142, 158);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
    background: rgb(169, 206, 212);
    height: 3px;
}

.content{
    width: 100%;
    position: absolute
    top: 50%;
    transform: translateY(50%);
    text-align: center;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 40px auto;
    font-weight: 100;
    line-height: 25px;
}

.YT-button{
    padding: 20px 50px;
    background: rgb(180, 50, 67);
    color: rgb(189, 189, 189);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.1s;
}
.YT-button:hover{
    background: rgb(197, 54, 73);
}

.GIT-button{
    padding: 20px 50px;
    color: rgb(24, 24, 24);
    background: rgb(204, 204, 204);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.1s;
}

.GIT-button:hover{
    background: rgb(155, 155, 155);
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid rgb(114, 189, 219);
    background: transparent;
    color: rgb(88, 225, 235);
    cursor: pointer;
}

button:hover{
    border: 3px solid rgb(101, 177, 51);
    color: rgb(79, 218, 74);
}

.madebyme{
    width: 100%;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 100%;
    text-align: center;
    size: 20px 20px;
}


.learn-button{
    padding: 10px 30px;
    color: rgb(226, 226, 226);
    background: rgba(0, 0, 0, 0);
    text-decoration: none;
    border: 2px solid  rgba(57, 127, 145, 255);
    border-radius: 50px;
    font-weight: bold;
    transition: 0.1s;
}

.learn-button:hover{
    background: rgba(57, 127, 145, 255);
}

.logo{
    width: 250px;
    cursor: pointer;
}

.rogy-engine{
    width: 100%;
    height: 100vh;
    background-color: rgb(85, 85, 85);
    background-size: cover;

    position: absolute;
    top: 100%;
    text-align: left;
    size: 20px 20px;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 2 2 2;
    background-color: rgb(41, 41, 41);
    padding: 1%;
    display: flex;
    justify-content: center;
  }

.grid-item {
    width: 87%;
    background-image: url(engine1.jpg);
    background-color: rgba(68, 68, 68, 0.8);
    border: 0px solid rgba(179, 179, 179, 0.8);
    padding: 150px;
    font-size: 20px;
  
    max-width: 35%;
    border: 3px solid  rgb(41, 41, 41);
    transition: 0.2s;
}  

.grid-item2 {
    width: 87%;
    background-image: url(net1.jpg);
    background-color: rgba(68, 68, 68, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 150px;
    font-size: 20px;
  
    max-width: 35%;
   
    transition: 0.2s;
    border: 3px solid  rgb(41, 41, 41);
}  

.grid-item:hover {
    border: 3px solid rgba(122, 150, 107, 0.8);
}  


.grid-item2:hover {
    border: 3px solid rgba(122, 150, 107, 0.8);

}  

.end{
    text-align: end;
    color: rgb(0, 0, 0);
    padding-left: -50px;
    font-size: 20px;
}

.rogy-image{
    float:right;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rason-image{
    float:right;
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.contact-area{
    width: 100%;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 100%;
    text-align: center;
    size: 20px 20px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(17, 17, 17);
    color: rgb(82, 82, 82);
    font-size: 20px;
}

.features {
    padding: 8%;
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.features figure {
    display: inline-block;
    width: auto;
    margin: auto;
    padding: 25px;
    margin: 2px;
    position: relative;
    top: -200px;
}

.sbutton {
	border-radius: 50%;
	width: 75px;
	height: 75px;
}

figure img:hover {
    filter: brightness(0.7);
}
